<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <display-name>Peliculas</display-name>

    <context-param>
        <description>Ruta para almacenar imágenes de películas</description>
        <param-name>imagePath</param-name>
        <param-value>C:\apache-tomcat-9.0.105\apache-tomcat-9.0.105\webapps\images</param-value>
    </context-param>
</web-app>